body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

.input, button {
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  color: white;
  border: none;
  cursor: pointer;
}

button.toggle-password {
  background-color: #007bff;
}

button.toggle-password:hover {
  background-color: #0056b3;
}

button.generate-password {
  background-color: #28a745;
}

button.generate-password:hover {
  background-color: #218838;
}

button.copy-password {
  background-color: #ff9800;
}

button.copy-password:hover {
  background-color: #e68900;
}

button.toggle-advanced-panel {
  background-color: #9c27b0;
}

button.toggle-advanced-panel:hover {
  background-color: #7a1b8c;
}

.advanced-panel {
  background-color: #9c27b0; 
  color: #fff; 
  padding: 20px; 
  border-radius: 5px; 
  margin-top: 20px;
}

.password-strength {
  margin: 10px 0;
}

.password-strength.poco-segura {
  color: red;
}

.password-strength.segura {
  color: orange;
}

.password-strength.muy-segura {
  color: green;
}

.success-message {
  color: green;
}